FinalASPdotNet/App_WebReferences/TicketServiceRef/TicketsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50006/TicketsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50006/TicketsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50006/TicketsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTicketService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicketsService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ITicketsService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketsService_SelectByEmpNum_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectByEmpNum" />
  </wsdl:message>
  <wsdl:message name="ITicketsService_SelectByEmpNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectByEmpNumResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketsService_SelectTicketByID_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectTicketByID" />
  </wsdl:message>
  <wsdl:message name="ITicketsService_SelectTicketByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectTicketByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketsService_UpdateCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompleted" />
  </wsdl:message>
  <wsdl:message name="ITicketsService_UpdateCompleted_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCompletedResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketsService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketsService/DoWork" message="tns:ITicketsService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketsService/DoWorkResponse" message="tns:ITicketsService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectByEmpNum">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketsService/SelectByEmpNum" message="tns:ITicketsService_SelectByEmpNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketsService/SelectByEmpNumResponse" message="tns:ITicketsService_SelectByEmpNum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectTicketByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketsService/SelectTicketByID" message="tns:ITicketsService_SelectTicketByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketsService/SelectTicketByIDResponse" message="tns:ITicketsService_SelectTicketByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketsService/UpdateCompleted" message="tns:ITicketsService_UpdateCompleted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketsService/UpdateCompletedResponse" message="tns:ITicketsService_UpdateCompleted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicketsService" type="tns:ITicketsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ITicketsService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectByEmpNum">
      <soap:operation soapAction="http://tempuri.org/ITicketsService/SelectByEmpNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectTicketByID">
      <soap:operation soapAction="http://tempuri.org/ITicketsService/SelectTicketByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCompleted">
      <soap:operation soapAction="http://tempuri.org/ITicketsService/UpdateCompleted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketsService">
    <wsdl:port name="BasicHttpBinding_ITicketsService" binding="tns:BasicHttpBinding_ITicketsService">
      <soap:address location="http://localhost:50006/TicketsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>